// Typography
$f-primary: 'Roboto', sans-serif;

// Colours
$c-primary:         #4C6BF5;
$c-primary-dark:    #0F0E25;
$c-secondary-rgb:       44, 42, 67;
$c-gray-rgb:            126, 126, 145;
$c-white-rgb:          255, 255, 255;
$c-black:           #000000;
$c-tertiary:        #FF009C;
$c-background:      #0C0B1D;
$c-text:            #ffffff;
$c-confirm-button:  linear-gradient(90deg, #6EF5D7 0%, #4EA8DE 49.14%, #6930C3 100%);

$c-option-1: #7DEECE;
$c-option-2: #6930C3;
$c-option-3: #8E00E0;
$c-option-4: #5E60CE;
$c-option-5: #5390D9;
$c-option-6: #4EA8DE;
$c-option-7: #48BFE3;
$c-option-8: #56CFE1;

$c-green: #0FC15A;
$c-red: #FF1958;
$c-light-purple: #5400FF;
$c-pink: #FF009C;
$c-purple: #A743FF;
$c-blue: #4C6BF5;
$c-medium-blue: #2C2A43;
$c-dark-purple: #2a293f;

$container-size: 68rem;
$large-container-size: 69.8125rem;
$mobile-container-padding: 1.5625rem;
$default-bigger-screen-breakpoint: tablet-landscape-up;
