.button {
    padding: 0.2rem 1rem;
    background: var(--c-confirm-button);
    color: var(--c-white);
    font-size: 1rem;
    font-weight: normal;
    border-radius: 0.5rem;
    text-transform: none;
    width: auto;
}

.button--text {
    background: transparent;
    color: var(--c-text);
}

.button--outlined {
    background: transparent;
    color: var(--c-text);
    border: 1px solid var(--c-tertiary);
}

.loader {
    color: var(--c-white);
    position: absolute;
    width: 1.7rem !important;
    height: 1.7rem !important;
}
